---
import Presentacion from "../components/Presentacion.astro";
import AboutMe from "../components/AboutMe.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dani { dev }">
  <main>
    <Navbar />
    <Presentacion />
    <AboutMe />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  .hidden {
    display: none;
  }
</style>
