---
import Presentacion from "../components/Presentacion.astro";
import AboutMe from "../components/AboutMe.astro";
import Navbar from "../components/Navbar.astro";
import Conocimientos from "../components/Conocimientos.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dani { dev }">
  <main>
    <Navbar />
    <Presentacion />
    <AboutMe />
    <Projects />
    <Footer />
  </main>
</Layout>

<style>
  * {
    scroll-behavior: smooth;
  }
  main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  .hidden {
    display: none;
  }
</style>
