<nav class="bg-red-800 w-1/6 h-screen left-0 top-0 z-50">
  <div class="">
    <div class="">Logo</div>
    <div class="bg-blue-500 flex items-center">
      <ul class="flex flex-col justify-between bg-green-300 h-screen w-full">
        <li class="flex">menu</li>
        <li class="flex">menu</li>
        <li class="flex">menu</li>
      </ul>
    </div>
  </div>
</nav>
