---
import Details from "./Projects.Details.astro";
---

<div
id="projects"
  class="bg-slate-900 text-white flex justify-center items-center px-2 p-3 text-2xl"
>
  <h2 class="border-b-2 w-1/4 text-center py-3 animate__animated animate__tada">
    Projects
  </h2>
</div>
<div
  class="w-full flex flex-wrap gap-4 justify-center items-center bg-slate-900 overflow-x-hidden overflow-y-hidden py-6"
>
  <Details
    titulo="Pokedux"
    text="Pokedux is a React, Tailwind CSS, and React Redux Toolkit-based practice project that replicates a Pokedex. It allows users to efficiently search and explore Pokémon, combining modern styling with interactive features. Discover the captivating world of Pokémon through a seamless and responsive user interface crafted with cutting-edge web development technologies."
    link="https://danielojeda25.github.io/Pokedux/"
    img={"poke.svg"}
  />
  <Details
    titulo="Logicap"
    text="Small personal venture, to provide platform development services to different clients made with Astro."
    link="https://aktiva-two.vercel.app/"
    img={"Logicap.svg"}
  />
  <Details
    titulo="Bamana Store"
    text="Bamana, maintenance of the local wholesale store portal, based on React, Nodejs and services."
    link="https://www.bamana.com.ar/"
    img={"bmn.png"}
  />
  <Details
    titulo="Utrack"
    text="Utrack, bus services platform for a private company, based on React, Sockets, React Router and Redux."
    link="http://www.utrack.com.ar/"
    img={"utrack.png"}
  />
  <Details
    titulo="SMM MATRIX"
    text="Website, for the purpose of selling and buying followers, likes or reactions on social media, Made with react, redux, tailwindcss, Flowbite UI."
    link="https://smm-mocha.vercel.app/"
    img={"smm.ico"}
  />
</div>
